<div class="formContainer">
    <form action="" (submit)="login($event)" [formGroup]="loginAuth">
        <div class="form-row">
            <div class="form-group">
                <label for="email">Username/Email</label>
                <input type="text" id="username" placeholder="Username/Email" class="form-control" name="email"  formControlName="email">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="password" class="form-control"  name="password"  formControlName="password">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="remember">Remember me.</label>
                <input type="checkbox" name="remember" id="remember">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <input type="submit" name="login" id="login" value="Login" class="form-control">
            </div>
        </div>
        

    </form>
</div>
