<div class="col-md-12 py-3">
    <div class="row">
        <div class="col-md-12">
            <form class="d-flex align-items-center">
                <label for="search">Search Project

                    <input type="text" name="search" id="search" class="form-control" placeholder="Search...">
                </label>
                <span class="material-icons">search</span>
                <span class="material-icons">add_circle_outline</span>
            </form>
        </div>
    </div>
</div>
